#map {
  height: 500px;
}

#map-panel-wrapper {
  position: absolute;
  right: 0;
  top: 0;
  width: 20%;
  height: 100vh;
  background-color: LightBlue;
  min-width: 100px;
}

#map-panel {
  margin: 10px;
  overflow: auto;
}

#mapDisplayArea {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  background-color: Black;
  width: 80%;
  max-width: calc(100% - 100px);
}

#overlay-shader {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  opacity: 50%;
  background-color: black;
  z-index: 80;
}

#overlay-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0 auto;
  padding: 20px;
  border-style: outset;
  border-width: 6px;
  border-color: Grey;
  width: 80%;
  height: 80%;
  z-index: 120;
  top: 50%;
  left: 50%;
  background-color: LightBlue;
  transform: translate(-50%, -50%);
  overflow: auto;
}

#overlay-close {
  position: absolute;
  right: 0;
  top: 0;
}

#mapBorder {
  margin: 0 auto;
  width: 95%;
  height: 95%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 9;
  background-color: LightBlue;
  transform: translate(-50%, -50%);
  resize: both;
  overflow: hidden;
  max-height: 100%;
  max-width: 100%;
}

#mapWrapper {
  margin: 0 auto;
  width: calc(100% - 25px);
  height: calc(100% - 25px);
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  background-color: #2a2740;
  transform: translate(-50%, -50%);
  visibility: inherit;
}

#sample-pic {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 50;
  transform: translate(-50%, -50%);
  border-style: solid;
  border-width: 3px;
  border-color: black;
  background-color: black;
  /* TODO: hide overflow, don't resize */
  max-width: 85%;
  max-height: 85%;
  display: none;
}

#poster-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: scroll;
  z-index: 75;
}

/* Style the tab */
.halfsies {
  float: left;
  width: 45%;
}

/* Style the tab */
.units {
  width: 90%;
  overflow: hidden;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

#style-tree-container div ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tree-ul {
  list-style-type: none;
}

/* Style the caret/arrow */
.caret {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}

/* Style the caret/arrow */
.caret-down {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}

/* Create the right caret/arrow with a unicode, and style it */
.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

/* Create the down caret/arrow with a unicode, and style it */
.caret-down::before {
  content: "\25BC";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

/* Hide the nested list */
.nested {
  display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: block;
}

.tree-div {
  margin-left: 15px;
}

.chosen {
  background-color: Moccasin;
}

.waterfall-rule {
  background-color: pink;
}

.blank-rule {
  background-color: SeaShell;
}

.waterfall-element {
  background-color: SlateBlue;
}

.blank-element {
  background-color: LightBlue;
}

.waterfall-feature {
  background-color: SeaGreen;
}

.blank-feature {
  background-color: PaleGreen;
}
