#map {
        height: 500px;
      }

/* #boundsContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;
  padding-top: 100%;
  background-color: #91cbc0;
} */

#boundsOptions {
  position: absolute;
  right: 0;
  top: 0;
  width: 20%;
  height: 100vh;
  background-color: #91cbc0;
  min-width: 100px;
}

#mapDisplayArea {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  background-color: #2a2740;
  width: 80%;
  max-width: calc(100% - 100px);
}

#overlay-shader {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  opacity: 50%;
  background-color: black;
  z-index: 80;
}

#overlay-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0 auto;
  width: 80%;
  height: 80%;
  z-index: 120;
  top: 50%;
  left: 50%;
  background-color: green;
  transform: translate(-50%, -50%);
}

#mapBorder {
  margin: 0 auto;
  width: 95%;
  height: 95%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 9;
  background-color: #91cbc0;
  transform: translate(-50%, -50%);
  resize: both;
  overflow: hidden;
  max-height: 100%;
  max-width: 100%;
  /* transform: translateX(-50%); */
}

#mapWrapper {
  margin: 0 auto;
  width: calc(100% - 25px);
  height: calc(100% - 25px);
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  background-color: #2a2740;
  transform: translate(-50%, -50%);
  visibility: inherit;
}

#sample-pic {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 50;
  transform: translate(-50%, -50%);
  border-style: solid;
  border-width: 3px;
  border-color: black;
  /* TODO: hide overflow, don't resize */
  max-width: 85%;
  max-height: 85%;
  display: none;
}

#poster-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: scroll;
  z-index: 75;
}

/* Style the tab */
.halfsies {
  float: left;
  width: 50%;
}

/* Style the tab */
.units {
  width: 100%;
  overflow: hidden;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  width: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

#style-tree-container div ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

/* Style the caret/arrow */
.caret {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}

/* Style the caret/arrow */
.caret-down {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}

/* Create the right caret/arrow with a unicode, and style it */
.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

/* Create the down caret/arrow with a unicode, and style it */
.caret-down::before {
  content: "\25BC";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

/* Hide the nested list */
.nested {
  display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: block;
}

.tree-div {
  margin-left: 15px;
}

.chosen {
  background-color: red;
}

.waterfall-rule {
  background-color: pink;
}

.blank-rule {
  background-color: SeaShell;
}

.waterfall-element {
  background-color: SlateBlue;
}

.blank-element {
  background-color: SkyBlue;
}

.waterfall-feature {
  background-color: SeaGreen;
}

.blank-feature {
  background-color: PaleGreen;
}
